h1{
    font-size: 150px;
    font-family: 'Indie Flower', cursive;
    color: red;

}

#buttons, button{
    font-family: 'Permanent Marker', cursive;
    font-size:  35px;
    margin:5px;
    float: left;
    
}
.addButton{
    color:red;
}

.giphy{
    background: black;
    color: white;
}

input{
    height: 60px;
    width: 250px;
    font-size: 30px;
}

/* #giphyPlace{
    text-align: center;
} */

.item{
    float:left
}
